.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    font-family: 'Cedarville Cursive', cursive;

    
}

.footer ul{
    list-style: none;
    padding:0 ;
    font-size: 18px;
}

.footer li:hover{
    color:#7EBED9;
    cursor: pointer;
}

