.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 0; 
    font-size: 20px;
}


.navbar_nav a{
    margin: 0 10px;
    text-decoration:none;
}



.navbar_nav a:hover{
    color: #5f9ea0;


}

.card{
    background-color: white;
}

.logo{
    text-align: center;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-top: 2%;
    padding:5%;
}

.logo_nav{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin:0;
}

.navigation{
    display: flex;
    justify-content: space-between;
}


.navigation_list li{
    list-style-type: none;
    display: inline-block;
    font-weight: 400;
    color: #565676;
    text-transform: capitalize;
    font-size: 20px;
    padding:0 10px;

   
}

.navigation_list{
    padding-left: 0px;
}

.search{
    display: flex;
}

.social {
    display: flex;  
}

