.main{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
 .sidebar{
  width: 27%;
  background: #fff;
 
 }
 .blogpost{
     width: 70%;
     background: #fff;
 }
 .blog_header{
     text-align: center;
 }
 .blogCategory{
    display: block;
    font-size: 14px;
    padding: 10px 0;
}
.postTitle{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
}

.postedBy{
    font-size: 15px;
    font-style: italic;
    padding: 10px 0;
    display: block;
    color: #6c6c6c;
}

.imagecontainer{
    width: 100%;
    
   
}
.sidebar{
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 2px;
    color: #565673;
}

.profile{
    border-bottom: 1px solid grey;
    padding-bottom:10px ;
}
.profile img{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    margin-top: 10px;
}

.recent{
    padding-top: 10px;

}
.recent h3{
    font-weight: 500;
    color:black;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 10px;
}

.recent span{
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.imagecontainer img{
    width: 100%;
}

.description{
    font-size: 20px;
    
}

.footer_text{
    font-size: 20px;
    margin-top: 3%;
}